<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>CIT 140 Program 6 - Corey Scott</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
</head>
<body ng-app="prog6app">
    <div class="container-fluid">
        <nav class="navbar navbar-inverse">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Program 6</a>
            </div>
            <div>
                <ul class="navbar navbar-nav">
                    <li class="active"><a href="index.html"> Home</a></li>
                    <li><a href="gpa.html"> All GPA</a></li>
                </ul>
            </div>
        </nav>


        <div ng-controller="studentsProg">
            <h2>Advisees</h2>
            <input type="text" ng-model="search" />

            <table class="table table-stiped">
                <tr><th>SID</th><th>Last Name</th><th>First Name</th><th>Credit hours</th><th>GPA points</th><th>Major</th></tr>
                <tr ng-repeat="student in students | filter:search">
                    <td>student.id</td>
                    <td>student.lastname</td>
                    <td>student.firstname</td>
                    <td>student.credit_hrs</td>
                    <td>student.gpa_points</td>
                    <td>student.major</td>
                </tr>
            </table>

        </div>

    </div>

    <script>

        var app = angular.module('prog6app', []);

        app.controller('studentsProg',function ($scope, $http) {
            var url = 'cit5students.json';

            $http.get(url).then(function (respond) {
                $scope.students = respond.data;


            });






        });
            
    </script>


</body>
</html>
